<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<script src="https://kit.fontawesome.com/9eb0363441.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap">
<link rel="stylesheet" href="/public/css/styles.css">
{{#if data}}
{{/if}}
<link rel="shortcut icon" href="#">
</head>
<body>
<header>
<nav>
<div class="logo">
<h1><a href="/">Apartment Hunt Helper</a></h1>
</div>
<div class="user-container">
<!-- Add logic to show/hide based on user session -->
{{#if userData}}
<a href="/user/profile">Profile</a>
<a href="/logout">Logout</a>
{{/if}}
</div>
</nav>
</header>

<main>
{{{body}}}
</main>

{{#if success}}
<p class="success"> {{success}}</p>
{{/if}}
<script src="/public/js/client_side_validation.js"></script>
<script src="register.js" defer></script>
</body>
</html>
