<!--CORRECT ROOT LINK PATH -->

<h2 class="display-4">See Landlords</h2>

<p>Use this page to see landlords stored on the website's database.</p> 
<p>Use the form to search by landlord's city and state. Use the sort to order the landlords based on your preferred rating system.</p>

<a href="/user/addlandlord">Want to add a landlord to the database? Click here.</a>



 {{#each landlords}}

  <div>

    <h3>{{this.firstName}} {{this.lastName}}</h3>

    <p><a href="/user/landlord/{{this.userId}}">See the full information.</a></p> 
    
  </div>
  {{/each}}