<h2 class="display-4">See Properties</h2>

<p>Use this page to see properties stored on the website's database and search by their location.</p>
<p>Click on a property listing to see additional details and navigate to its listing page.</p>
<ul>
<li><a href="/property/addproperty">Want to add a property to the database? Click here.</a></li>
<li><a href="/property/all">Want to see every property in the database? Click here.</a></li></ul>
</ul>

<form id="searchForm" method="GET">
    
    <div id='errorDiv' class="error" hidden></div>

    <label for="searchType">Search Type:</label>
      <select id="searchType" name="type">
        <option value="">Select filter</option> 
        <option value="address">Address</option>
        <option value="city">City</option>
        <option value="state">State</option>
        <option value="zip">Zip Code</option>
      </select>

    <label for="searchQuery">Search Query:</label>
      <input class="search-input" type="text" id="searchQuery" name="query" placeholder="Search here...">
      <button class="search-button" type="submit">Search</button>

    <ul id="searchResults" hidden></ul>
    <div id="propertyDetails" hidden></div>

</form>

