<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="{{themePreference}}">
    <div class="error">
        <h1>Oops! Something went wrong.</h1>
                <p>{{error}}</p>
        <a href="/login">Return to Home</a>
    </div>
</body>
</html>
