<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="{{themePreference}}">
    <div class="error">
        {{#if error}}
        <h1>Oops! Something went wrong.</h1>
                <p>{{errorMessage}}</p>
        {{/if}}
        <a href="/login">Return to Login</a>
    </div>
</body>
</html>
