<div class="jumbotron jumbotron-fluid">
<div class="container">
<h1 class="display-4">Login</h1>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
<form id="signin-form" method="POST" action="/login">
    <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">
    <small></small>
    </div>
    <div class="form-group">
    <label for="password">Password&nbsp;</label>
    <input type="password" class="form-control" id="password" name="password">
    <small></small>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register" class="btn btn-link">Click here to register!</a>
</div>
</div>

 