<h1>Register</h1>
{{#if error}}
<p class="error"> {{error}}</p>
{{/if}}
<form id="signup-form" method="POST" action="/register">
<label for="firstname">First Name</label>
<input type="text" id="firstName" name="firstName">
<label for="lastname">Last Name</label>
<input type="text" id="lastName" name="lastName">
<label for="username">Username</label>
<input type="text" id="username" name="username">
<label for="password">Password</label>
<input type="password" id="password" name="password">
<label for="confirmPassword">Confirm Password</label>
<input type="password" id="confirmPassword" name="confirmPassword">
<button id="submitButton" type="submit">Register</button>
</form>
<a href="/login">Already have an account? Click here to log-in</a>