{{!-- <form action="/report">
</form> --}}
<form id="reportForm" action="/report" method="POST">
    <label for="reportedItemId">Reported Item ID:</label>
    <input type="text" id="reportedItemId" name="reportedItemId" required>

    <label for="reportReason">Reason for Report:</label>
    <textarea id="reportReason" name="reportReason" required></textarea>

    <button type="submit">Submit Report</button>
</form>