{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
<div id="userView">
<p id="welcome">Welcome {{data.firstName}} {{data.lastName}}, the time is now: {{currentTime}}.</p>
<a id="logoutLink" href="/logout">Logout</a>
</div>
